---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card_vsbvsl from "../components/Card_vsbvsl.astro";
import Card_faciliteter from "../components/Card_faciliteter.astro";
import Card_kontakt from "../components/Card_kontakt.astro";
import Card_nyhed from "../components/Card_nyhed.astro";
import Card_nyhed_full from "../components/Card_nyhed_full.astro";
import Hero from "../components/Hero.astro";
import Karrusel from "../components/Karrusel_klubhus.astro";
import Card_fakta from "../components/Card_fakta.astro";
import { Image } from "astro:assets";
import CardNyhedFull from "../components/Card_nyhed_full.astro";
import billede_hero_kontakt from "../assets/images/hero_undersider_kontakt.webp";
import kort from "../assets/images/kort.webp";
import sikkerhavn from "../assets/images/sikkerhavn.webp";
import video_mp4 from "../assets/videos/havnen_video_stor.mp4";
// import "animate.css";
// import video_webm from "../assets/videos/havnen_video_stor.webm";
import ikon_video from "../assets/icons/video.svg";
---

<MainLayout title="Titel">
  <article class="flex flex-col gap-4xl lg:gap-10xl">
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <Hero gemt_billede="hidden" overskrift="Om havnen" tekst="Veddelev Havn er en mindre lystbådehavn beliggende nord for Roskilde med en smuk udsigt over Roskilde Fjord." video="/havnen_video_stor.mp4" video_type="video/mp4" knap_tekst1="Kort over havnen" knap_tekst2="Faciliteter" url1="#overblik" url2="#faciliteter" />
    </section>
    <!-- Én havn to foreninger -->
    <section class="mitelement7 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h3 class="text-m_h3 lg:text-d_h3 font-montserrat pb-m lg:pb-ml lg:text-center">Én havn – to foreninger</h3>
      <div class="grid lg:grid-cols-2 gap-m lg:gap-2xl items-start">
        <Card_vsbvsl url="/sejlklub" knap_url="/sejlklub" overskrift="VSB" tekst1="Veddelev Strand Bådelaug er en" bold1="sejlklub" tekst2="beliggende på Veddelev Havn. Klubben har omkring" bold2="300 medlemmer" tekst3="og tilbyder både sejlerskole, kapsejladser og sociale aktiviteter året rundt. Med faciliteter som klubhus, masteskur og gode havneforhold danner sejlklubben rammen om et aktivt og inkluderende" bold3="sejlerfællesskab" tekst4="på havnen." knap_tekst="Læs mere om sejlklubben" />
        <Card_vsbvsl url="" knap_url="" overskrift="VSL" tekst1="Veddelev Strands Lystbådehavn AmbA er et andelsselskab med" bold1="110 andelshavere" tekst2=", der i fællesskab ejer og driver lystbådehavnen. Havnen har" bold2="117 bådpladser" tekst3="af forskellig størrelse, som bestyrelsen fordeler mellem andelshaverne en gang årligt." bold3="" tekst4="" knap_tekst="Læs mere om andel" />
      </div>
    </section>
    <!-- Få overblikket -->
    <section id="overblik" class="mitelement6 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <div class="lg:grid lg:grid-cols-6">
        <h2 class="lg:col-start-4 lg:col-span-3 text-m_h2 lg:text-d_h2 font-montserrat pb-m">Få overblikket</h2>
      </div>
      <div class="grid lg:grid-cols-3 gap-m lg:gap-ml">
        <div class="col-span-2 w-full h-auto">
          <Image src={kort} alt="Kort over Veddelev Havn" class="w-full h-auto rounded-10 lg:rounded-15" />
        </div>
        <p class="col-span-1 text-m_p lg:text-d_p font-opensans lg:pt-l">På kortet kan du få et overblik over Veddelev Havn og de mange faciliteter, der er til rådighed for både fastliggere og gæstesejlere. Havnen har el-standere og vandposter på alle broer, toilet- og badefaciliteter i klubhuset samt et havnekontor med fast tilknyttet havnefoged, der står klar til at hjælpe. Havnen rummer pladser til både store og mindre både, og der er god plads og nem adgang til havnebassinet fra Roskilde Fjord.</p>
      </div>
    </section>
    <!-- Link til pdf'er -->
    <section class="px-ml lg:px-5xl xl:px-12xl 2xl:px-15xl bg-brown-100 py-2xl lg:py-6xl grid gap-4xl lg:grid-cols-3 lg:gap-13xl">
      <div class="flex flex-col lg:items-center">
        <div>
          <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">Regler for både og joller</h6>
          <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Læs pdf</Link>
        </div>
      </div>
      <div class="flex flex-col items-end lg:items-center">
        <div>
          <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">Havnereglement</h6>
          <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Læs pdf</Link>
        </div>
      </div>
      <div class="flex flex-col lg:items-center">
        <div>
          <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">Havnens love</h6>
          <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Læs pdf</Link>
        </div>
      </div>
    </section>
    <!-- Faciliteter på havnen -->
    <section id="faciliteter" class="mitelement5 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m lg:pb-xl">Faciliteter på havnen</h2>
      <div class="grid gap-m lg:gap-xl lg:grid-cols-2">
        <Card_faciliteter icon="/ikoner/klubhus.svg" iconalt="Ikon af klubhus" overskrift="Klubhus" tekst="Klubhuset han lejes af medlemmer af sejlklubben og har plads til op til 50 personer. Det er udstyret med køkken og egner sig både til faglige oplæg og private arrangementer." />
        <Card_faciliteter icon="/ikoner/bad.svg" iconalt="Ikon af bad" overskrift="Toilet og bad" tekst="Toilet- og badefaciliteterne findes i klubhuset. Gæstesejlere modtager en adgangskode til klubhuset, når betaling for havnepladsen er registreret." />
        <Card_faciliteter icon="/ikoner/vand.svg" iconalt="Ikon af vand" overskrift="Vand og strøm" tekst="Der er strømstandere og vandslanger på alle broer, så bådejere og gæstesejlere nemt kan tilkoble el eller fylde vandtanken." />
        <Card_faciliteter icon="/ikoner/grill.svg" iconalt="Ikon af grill" overskrift="Grill" tekst="Du må frit benytte klubhusets fælles grill. Du finder den til højre for klubhuset. Du må ikke benytte din egen grill på havnen." />
        <Card_faciliteter icon="/ikoner/udtoemning.svg" iconalt="Ikon af udtømning" overskrift="Udlagskumme for kemisk toilet" tekst="Du kan tømme dit kemiske toilet i vores udslagskumme. Den finder du ved skraldespandene på parkeingspladsen. " />
        <Card_faciliteter icon="/ikoner/havnekontor.svg" iconalt="Ikon af havnekontor" overskrift="Havnekontor" tekst="Havnekontoret ligger ved klubhuset og fungerer som base for havnefogeden, som står for den daglige drift og er kontaktperson ved spørgsmål." />
        <Card_faciliteter icon="/ikoner/kran.svg" iconalt="Ikon af kran" overskrift="Masteskur" tekst="Ved klubhuset ligger masteskuret, hvor bådejere kan opbevare deres master i vinterhalvåret. Desuden er havnen også udstyret med mastekran." />
        <Card_faciliteter icon="/ikoner/slaebested.svg" iconalt="Ikon af slæbested" overskrift="Slæbested" tekst="Som medlem af sejlklubben har du adgang til slæbestedet og kan frit benytte det til søsætning og optagning af din båd." />
        <Card_faciliteter icon="/ikoner/sejlerstue.svg" iconalt="Ikon af sejlerstue" overskrift="Sejlerstue" tekst="Sejlerstuen har åbent når der er medlemmer på havnen. Her finder du en kaffemaskine, opvaskeudstyr, køleskab og service. " />
        <Card_faciliteter icon="/ikoner/redning.svg" iconalt="Ikon af redning" overskrift="Redning og sikkerhed" tekst="Havnen er certificeret som Sikker Havn, hvilket betyder, at der er redningstiger og redningskranse strategiske placeret overalt på havneområdet for maksimal sikkerhed." />
      </div>
    </section>
    <!-- Karrusel -->
    <section class="mitelement3 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <Karrusel />
    </section>
    <!-- Nyheder -->
    <section class="">
      <Card_nyhed_full />
    </section>
    <!-- Sikker Havn -->
    <section class="mitelement mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Vi er certificeret som sikker havn</h2>
      <p class="text-m_p lg:text-d_p font-opensans pb-ml lg:pb-l lg:max-w-[471px]">Veddelev Havn er certificeret af Foreningen af Lystbådehavne I Danmark (FLID) som Sikker Havn. Det betyder, at vi lever op til en række krav om sikkerhed og beredskab. I hele havneområdet finder du redningsstiger, redningskranse og tydelig skiltning, der sikrer hurtig hjælp i nødssituationer – for både sejlere, gæster og besøgende på land.</p>
      <div class="relative w-full h-[393px] lg:h-[450px] overflow-hidden grid lg:grid-cols-10 rounded-10 lg:rounded-15">
        <Image src={sikkerhavn} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 lg:col-start-2 xl:col-start-2 lg:col-span-7 xl:col-span-6 w-full h-full object-cover object-[52%_25%]" />
      </div>
    </section>
    <!-- Faktabokse -->
    <section class="mitelement2 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl grid gap-ml lg:grid-cols-3">
      <Card_fakta underoverskrift="Andelshavere" number="110" />
      <Card_fakta underoverskrift="Gæstesejlere" number="450" />
      <Card_fakta underoverskrift="Jolleindehavere" number="30" />
    </section>
  </article>
</MainLayout>

<script>
  import { inView } from "motion";

  // 1
  const inviewelement = document.querySelector(".mitelement");

  inView(inviewelement, () => {
    inviewelement.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 2
  const inviewelement2 = document.querySelector(".mitelement2");

  inView(inviewelement2, () => {
    inviewelement2.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 3
  const inviewelement3 = document.querySelector(".mitelement3");

  inView(inviewelement3, () => {
    inviewelement3.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 4
  const inviewelement4 = document.querySelector(".mitelement4");

  inView(inviewelement4, () => {
    inviewelement4.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 1
  const inviewelement5 = document.querySelector(".mitelement5");

  inView(inviewelement5, () => {
    inviewelement5.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 1
  const inviewelement6 = document.querySelector(".mitelement6");

  inView(inviewelement6, () => {
    inviewelement6.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 1
  const inviewelement7 = document.querySelector(".mitelement7");

  inView(inviewelement7, () => {
    inviewelement7.classList.add("animate__animated", "animate__fadeInUp");
  });
</script>
