---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Formular_full from "../components/Formular_full.astro";
import Card_hjaelp from "../components/Card_hjaelp.astro";
import Card_fakta from "../components/Card_fakta.astro";
import Karrusel_klubhus from "../components/Karrusel_klubhus.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <article class="">
    <!-- <p>Link til <Link href="https://www.kea.dk" target="_blank" variant="primary">En anden side</Link></p> -->
    <Link href="#" target="_blank" variant="primary" size="small" hover="primary" press="primary">primary small</Link>
    <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary">primary large</Link>
    <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary" showIcon={false}>primary large</Link>
    <Link href="#" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">secondary small</Link>
    <Link href="#" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">secondary large</Link>
    <Link href="#" target="_blank" variant="secondary" size="large" hover="secondary" press="secondary">Link der skal være secondary</Link>
    <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Link der skal være secondary</Link>
    <Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Menupunkt</Link>
  </article>

  <Formular_full />
  <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3">
      <Card_hjaelp url="" overskrift="Prisen for en overnatning" tekst="Her kan du se prisen for en overnatning." />
      <Card_hjaelp url="" overskrift="Faciliteter på havnen" tekst="Her kan du finde en liste over havnens faciliteter." />
      <Card_hjaelp url="" overskrift="Venteliste til andel" tekst="Her kan du skrive dig på en venteliste til en andel." />
      <Card_hjaelp url="" overskrift="VSB og VSL" tekst="Her kan du læse forskellen på VSB og VSL." />
      <Card_hjaelp url="" overskrift="Regler og love" tekst="Se alle regler og love for Veddelev Havn." />
      <Card_hjaelp url="" overskrift="Tilmeld VSB Sejlklub" tekst="Tilmeld dig VSB Sejlklub via. formularen." />
      <Card_hjaelp url="" overskrift="Joller" tekst="Her kan du læse om jollepladser, slæbested mm." />
      <Card_hjaelp url="" overskrift="Kapsejladser" tekst="Her kan du læse mere om kapsejladser på havnen." />
      <Card_hjaelp url="" overskrift="Sejlerskole" tekst="Her kan du læse om sæsonens sejlerskole." />
    </div>
  </article>
  <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3 items-start">
      <Card_fakta overskrift="Priser" underoverskrift="190 kr. per overnatning" tekst="Prisen for en overnatning i Veddelev Havn er 190 kr. for alle både. Dette er inklusiv miljøafgift og strøm samt adgang til bad- og toiletfaciliteter." />
      <Card_fakta overskrift="Betaling" underoverskrift="Betalingen foregår via MobilePay til 81527." tekst="Betalingen for en overnatning foregår via MobilePay til 81527. Koden til klubhuset, toilet og bad samt sejlerstuen bliver efter betaling sendt til mobilnummeret. Oplever du problemer eller har du spørgsmål så kontakt havnefogeden her. " />
      <Card_fakta overskrift="Bådstørrelse" underoverskrift=" Max 14,5 m x 4,5 m" tekst="Havnen kan tage imod både op til 14,5 meter i længden og 4,5 meter i bredden. Ledige gæstepladser er markeret med grønne skilte." />
    </div>
  </article>

  <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3">
      <Card_fakta underoverskrift="Andelshavere" number="110" />
      <Card_fakta underoverskrift="Gæstesejlere" number="450" />
      <Card_fakta underoverskrift="Jolleindehavere" number="30" />
    </div>
  </article>

  <Karrusel_klubhus />

  <p class="pb-10xl">Tekst for luft</p>
</MainLayout>
