---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <article class="">
    <div class="bg-yellow-400 rounded-15 py-13xl">
      <p>haliofofofo</p>
    </div>
    <h1 class="text-d_display font-montserrat">Sejlklub siden</h1>
    <Button>Klik!</Button>
    <!-- <p>Link til <Link href="https://www.kea.dk" target="_blank" variant="primary">En anden side</Link></p> -->
    <Link href="https://www.kea.dk" target="_blank" variant="primary" size="large" hover="primary" press="primary"><p class="text-d_p">Link der skal være primary</p></Link>
    <Link href="https://www.kea.dk" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">Link der skal være secondary</Link>
    <Link href="https://www.kea.dk" target="_blank" variant="secondary" size="large" hover="secondary" press="secondary">Link der skal være secondary</Link>
    <Link href="https://www.kea.dk" target="_blank" variant="tertiary" size="null" hover="tertiary">Link der skal være secondary</Link>
  </article>
</MainLayout>
