---
const { icon = "", iconalt = "", overskrift = "", tekst = "" } = Astro.props;
---

<article class="@container card faciliteter_animation">
  <section class="flex gap-sm items-start">
    <img src={icon} alt={iconalt} class="rounded-5 lg:rounded-7 w-[50px] lg:w-4xl h-auto" />
    <div class="flex flex-col gap-2xs">
      <h6 class="text-m_h6 lg:text-d_h6 font-opensans">{overskrift}</h6>
      <p class="text-m_p lg:text-d_p font-opensans">{tekst}</p>
    </div>
  </section>
</article>
