---

---

<article class="px-ml lg:px-5xl xl:px-9xl 2xl:px-11xl mt-4xl lg:mt-10xl bg-brown-100 py-xl space-y-3xl lg:space-y-0 lg:flex lg:justify-between">
  <ul class="space-y-m">
    <li><a href="/gaestesjler"><h6 class="text-m_h8 font-montserrat hover:underline">Er du gæstesejler?</h6></a></li>
    <li><a href="/sejlklub"><h6 class="text-m_h8 font-montserrat hover:underline">Vil du være medlem af sejlklubben?</h6></a></li>
    <li><a href="#"><h6 class="text-m_h8 font-montserrat hover:underline">Ønsker du en andel?</h6></a></li>
    <li><a href="/kontakt"><h6 class="text-m_h8 font-montserrat hover:underline">Kontakt</h6></a></li>
  </ul>
  <div class="lg:flex lg:flex-col lg:items-center">
    <a href="https://www.facebook.com/veddelevsejlklub/?locale=da_DK"><h6 class="text-m_h8 font-montserrat pb-m hover:underline">Følg med på Facebook</h6></a>
    <a href="https://www.facebook.com/veddelevsejlklub/?locale=da_DK" target="_blank"><img src="/facebook.svg" alt="facebook-logo" class="hover:scale-105 transition-transform" /> </a>
  </div>
  <div>
    <h6 class="text-m_h8 font-montserrat">Veddelev Havn</h6>
    <p class="text-m_p font-opensans">Fiskervejen 75, Veddelev</p>
    <p class="text-m_p font-opensans">4000 Roskilde</p>
  </div>
</article>
